.clean-logs {

  background-color: $clean_logs_background;

  .nick {
    font-weight: 700;
  }

  .time {
    color: $clean_logs_timestamp;
    font-size: 11px;
    font-weight: normal;
    margin-left: .8em;
  }

  .text {
    color: $white;
    margin-bottom: 1em;
  }

  .embed {
    background-color: $clean_logs_embed_background;
    border: 2px solid $clean_logs_embed_border;
    border-radius: 5px;
    color: $white;
    margin-bottom: 1.5em;
    padding: 1em;
    width: 60%;

    .footer {
      font-size: 9px;
    }

    .fields {
      display: flex;
      flex-wrap: wrap;
    }

    .field {
      flex: 50%;
    }

    a {
      color: $clean_logs_anchor_color;
    }
  }
}
